.not_found_wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: auto;
}

.not_found_wrapper > header,
.not_found_wrapper > footer {
	flex-shrink: 0;
}

.not_found_wrapper > .container {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 0;
	overflow: hidden;
}

.not_found_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
	max-height: 100%;
}

.not_found_page img {
	max-height: 40vh;
	object-fit: contain;
}

.not_found_page h2 {
	color: rgb(31, 42, 59);
	font-family: Nunito;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.3em;
	letter-spacing: 0%;
	text-align: center;
	margin: 47px 0 10px;
}

.dark_mode .not_found_page h2 {
	color: rgb(255, 255, 255);
}

.not_found_page p {
	color: rgb(76, 91, 114);
	font-family: Nunito;
	font-size: 20px;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0%;
	text-align: center;
	margin-bottom: 26px;
}

.dark_mode .not_found_page p {
	color: rgb(204, 221, 248);
}

.not_found_page button {
	font-size: 15px;
	font-weight: 800;
}

@media only screen and (max-width: 1300px) {
	.not_found_page img {
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	.not_found_wrapper {
		height: 100%;
		min-height: 100vh;
	}
}

@media only screen and (max-width: 550px) {
	.not_found_page {
		padding: 30px 10px 20px;
	}

	.not_found_page h2 {
		font-size: 20px;
		margin-top: 30px;
	}

	.not_found_page p {
		font-size: 14px;
		font-weight: 700;
		line-height: 19px;
		margin-bottom: 20px;
	}
}