.post-state {
	padding: 5px;
	border-radius: 5px;
}

.post-state-pending {
	background: #d9d9d9;
}

.post-state-error {
	background: #a70101;
	color: #fff
}

.post-state-success {
	background: #07a80c;
	color: #fff
}