.categories_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 36px 25px;
}

.categories_list .subject_item {
  height: auto;
  width: auto;
  background: url(/images/category-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.dark_mode .categories_list .subject_item {
  background: url(/images/category-bg-d.svg);
  background-size: cover;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 16px;
  font-family: Nunito;
  font-size: 13px;
  font-weight: 500;
  line-height: 100%;
}

.breadcrumbs__link {
  color: rgb(188, 197, 211);
  text-decoration: none;
  transition: color 0.2s ease;
}

.breadcrumbs__link:hover {
  color: rgb(96, 105, 255);
}

.breadcrumbs__sep {
  color: rgb(188, 197, 211);
}

.breadcrumbs__current {
  color: rgb(137, 154, 181);
}

.populars_block .category_page_icon {
  margin-right: 7px;
}

.populars_block + .line {
  margin-bottom: 20px;
}

.blocks_title {
  align-items: center;
}

.category_page_block .blocks_title h2 {
  margin-right: 25px;
  margin-left: 7px;
}

.category_page_block .blocks_title img {
  width: 30px;
}

.subcatogory_title h3 {
  color: rgb(137, 154, 181);
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;

}

.subcatogory_title {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-left: 19px;
}

.category_page_icon {
  fill: rgb(96, 105, 255);
}

.subcatogory_title div {
  width: 1px;
  height: 22px;
  background: rgb(255, 255, 255);
}

.dark_mode .subcatogory_title div {
  background: rgb(50, 54, 118);
}

.dark_mode .load_more_btn {
  background: rgb(50, 54, 118);
}

.dark_mode .load_more_btn:hover {
  opacity: 0.8;
}

.load_more_btn {
  margin-top: 5px;
  width: 100%;
  border-radius: 12px;
  height: 60px;
  background: rgb(249, 249, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.load_more_btn:hover {
  transition: all 0.2s ease;
  background: rgb(98, 106, 255);
}

.load_more_btn:hover p {
  transition: all 0.2s ease;
  color: white;
}

.load_more_btn p {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: Nunito;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
}

.load_more_btn span {
  border-radius: 6px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: #646BFF;
  font-family: Nunito;
  font-weight: 700;
  font-size: 15px;
}

@media only screen and (max-width: 1470px) {
  .categories_list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .categories_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .categories_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

    .blocks_title {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 5px;
  }
}

@media only screen and (max-width: 700px) {
  .blocks_title {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .questions_filter {
    margin-left: 0 !important;
    width: 100%;
  }

  .categories_populars_block {
    display: none;
  }

  .subcatogory_title {
    width: 100%;
  }

  .subcatogory_title div {
    display: none;
  }

  .sub_category_show_btn {
    display: none;
  }
}

@media only screen and (max-width: 630px) {
  .categories_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .categories_list .subject_item {
    width: 100%;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .categories_list .subject_item_icon {
    top: 0px;
  }
}

@media only screen and (max-width: 440px) {
  .categories_list .subject_item_icon {
    top: -6px;
    right: 6px;
  }

  .categories_list {
    gap: 16px;
  }
}