/* Простая сетка для layout (аналог Bootstrap grid) */

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col,
.col-md-3,
.col-md-6,
.col-md-9,
.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Адаптивность */
@media (max-width: 991px) {
  .col-md-3,
  .col-md-6,
  .col-md-9,
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
