.top_leaders_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  width: 79%;
}

.top_leaders_list_wrapper {
  display: flex;
  gap: 25px;
  align-items: center;
}

.top_leaders_list_wrapper .blocks_title h2 {
  white-space: nowrap;
}

.top_leaders_list_wrapper .blocks_title {
  margin-bottom: 0;
}

.top_leaders_filter_item {
  width: 25%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.top_leaders_select.super-select {
  padding: 10px 15px;
}

.super-select {
  background-color: transparent;
  border: 2px solid #FFFFFF
}

.top_leaders_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
  margin-top: 21px;
}

.top_leader_card {
  height: 279px;
  width: 33%;
  position: relative;
}

.top_leader_card_bg,
.top_leader_card_bg_dark {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.top_leader_card_bg_dark {
  display: none;
}

.dark_mode .top_leader_card_bg {
  display: none;
}

.dark_mode .top_leader_card_bg_dark {
  display: block;
}

.top_leader_card_content {
  position: relative;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: rgb(255, 255, 255);
  border-radius: 22px;
}

.dark_mode .top_leader_card_content {
  background: rgb(51, 46, 113);
}

.top_leader_card_img {
  box-sizing: border-box;
  border: 0.99px solid rgb(239, 240, 246);
  width: 109px;
  height: 109px;
  padding: 5px;
  border-radius: 50%;
  position: relative;
}

.top_leader_card_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.top_leader_place {
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -13px;
}

.top_leader_card_desc {
  margin-top: 15px;
}

.top_leader_card_desc h3 {
  color: rgb(31, 42, 59);
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px;
}

.top_leader_card_desc h4 {
  color: rgb(95, 105, 255);
  font-family: Nunito;
  font-size: 11px;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}

.dark_mode .top_leader_card_desc h3 {
  color: #fff;
}

.top_leader_card_desc p {
  color: rgb(139, 148, 161);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.top_leader_card_rect {
  position: absolute;
  right: 33px;
  top: 13px;
}

.hidden {
  display: none !important;
}

.top_leaders_filter_item.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.top_leaders_filter_item.active .top_leaders_filter_menu {
  display: block !important;
}

.top_leaders_filter_item {
  position: relative;
}

.main_text {
  transition: all 0.2s ease;
}

.top_leaders_filter_menu {
  position: absolute;
  left: -2px;
  top: 38px;
  width: calc(100% + 4px);

  border: 2px solid #fff;
  background: #e7e9f6;
  z-index: 11;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 11px 14px 11px 22px;
}

.top_leaders_filter_menu p {
  color: rgb(31, 42, 59);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
}

.top_leaders_filter_menu p:hover {
  text-decoration: underline;
}

.top_leaders_list_wrapper .blocks_title {
  gap: 15px;
}

.top_leaders_list_wrapper .top_leaders_filter {
  width: 100%;
}

.top_leaders_list_wrapper .top_leaders_filter .top_leaders_filter_item {
  width: 25%;
  height: 40px;
}

.question_list_item-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top_leaders_list_wrapper .top_leaders_filter .top_leaders_filter_item .super-select {
  color: #4C5B72;
  font-weight: 700;
  font-size: 13px;
  background-size: 7px;
}

.top_leaders_list_wrapper .top_leaders_filter .top_leaders_filter_item .super-select[disabled] {
  color: #B9BBC5;
}

.leader_number {
  color: #1F2A3B;
  font-family: Nunito;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  min-width: 20px;
  text-align: center;
  transition: all 200ms ease;
}

.dark_mode .leader_number {
  color: #CCDDF8;
}

.project_leaders_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 20px;
}

.project_leaders_grid .question_list_item {
  margin: 0px;
  align-items: center;
  padding: 12px 25px 12px 23px;
}

.project_leaders_grid .question_list_item:hover .leader_number{
  color: white;
}

.leaders-tab {
  display: none
}

.leaders-tab.active {
  display: block;
}

.dark_mode .top_leaders_list_wrapper .top_leaders_filter .top_leaders_filter_item .super-select {
  color: white;
}

@media only screen and (max-width: 1280px) {
  .top_leaders_list_wrapper {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .top_leaders_list {
    flex-direction: column;
  }

  .top_leader_card_bg,
  .top_leader_card_bg_dark {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .top_leader_card {
    width: 100%;
  }

  .top_leader_card .top_leader_card_bg,
  .top_leader_card .top_leader_card_bg_dark {
    max-width: 467px;
  }

  .top_leader_card_content {
    margin-top: 30px;
    padding-top: 26px;
    padding-bottom: 30px;
  }

  .top_leader_card_rect {
    left: 289px;
  }

  .project_leaders_grid .question_list_item {
    flex-direction: row;
    align-items: center;
  }

  .top_leaders_list_wrapper .blocks_title {
    flex-direction: column;
    align-items: start;
  }

  .top_leaders_filter {
    width: 100%;
    flex-wrap: wrap;
  }

  .top_leaders_list_wrapper .top_leaders_filter .top_leaders_filter_item {
    width: 48%;
  }
}

@media only screen and (max-width: 700px) {
  .top_leaders_filter {
    flex-direction: column;
  }

  .top_leaders_filter_item,
  .top_leaders_list_wrapper .top_leaders_filter .top_leaders_filter_item,
  .project_leaders_grid {
    width: 100%;
  }

  .project_leaders_grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .top_leader_card {
    width: 100%;
    height: 100%;
  }

  .top_leader_card_rect {
    position: absolute;
    right: 30px;
    top: 9px;
    left: auto;
  }

  .top_leaders_list {
    gap: 10px;
  }
}