.auth_page_layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.auth_page_layout > nav,
.auth_page_layout > footer {
	flex-shrink: 0;
}

.auth_page_layout > .login_container {
	flex: 1;
}

.login_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 70vh;
	padding: 46px 0 70px;
}

.login_block {
	border-radius: 22px;
	overflow: hidden;
	position: relative;
	max-width: 531px;
	width: 100%;
}

.login_block_bg {
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 1;
	fill: rgb(255, 255, 255);
}

.login_block .login_block_title {
	position: relative;
	z-index: 2;
	padding-top: 18px;
	padding-left: 28px;
}

.login_block .login_block_title h2 {
	margin: 0;
}

.dark_mode .login_block_bg {
	fill: rgb(95, 105, 255);
}

.login_block_rect {
	position: absolute;
	top: 15px;
	left: 38.3%;
	fill: rgb(95, 105, 255);
}

.dark_mode .login_block_rect {
	fill: #fff;
}

.login_block_content {
	position: relative;
	z-index: 2;
	padding: 18px 28px 34px;
	overflow: hidden;
}

.login_block_content:after {
	content: "";
	opacity: 0;
	transition: opacity 0.2s ease;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	margin: auto auto;
	background-size: 64px;
	border-radius: 0px;
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
	background-color: rgba(255, 255, 255, .7);
	z-index: 99;
}

.login_block_content.loading:after {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><radialGradient id="a12" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)"><stop offset="0" stop-color="%236069FF"></stop><stop offset=".3" stop-color="%236069FF" stop-opacity=".9"></stop><stop offset=".6" stop-color="%236069FF" stop-opacity=".6"></stop><stop offset=".8" stop-color="%236069FF" stop-opacity=".3"></stop><stop offset="1" stop-color="%236069FF" stop-opacity="0"></stop></radialGradient><circle transform-origin="center" fill="none" stroke="url(%23a12)" stroke-width="15" stroke-linecap="round" stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100" r="70"><animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="2" values="360;0" keyTimes="0;1" keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform></circle><circle transform-origin="center" fill="none" opacity=".2" stroke="%236069FF" stroke-width="15" stroke-linecap="round" cx="100" cy="100" r="70"></circle></svg>');
	opacity: 1;
	pointer-events: all;
}

.dark_mode .login_block_content:not(.modal .login_block_content):after {
	background-color: rgb(96, 105, 255, .7);
}

.dark_mode .login_block_content.loading:not(.modal .login_block_content.loading):after {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><radialGradient id="a12" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)"><stop offset="0" stop-color="%23FFFFFF"></stop><stop offset=".3" stop-color="%23FFFFFF" stop-opacity=".9"></stop><stop offset=".6" stop-color="%23FFFFFF" stop-opacity=".6"></stop><stop offset=".8" stop-color="%23FFFFFF" stop-opacity=".3"></stop><stop offset="1" stop-color="%23FFFFFF" stop-opacity="0"></stop></radialGradient><circle transform-origin="center" fill="none" stroke="url(%23a12)" stroke-width="15" stroke-linecap="round" stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100" r="70"><animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="2" values="360;0" keyTimes="0;1" keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform></circle><circle transform-origin="center" fill="none" opacity=".2" stroke="%23FFFFFF" stroke-width="15" stroke-linecap="round" cx="100" cy="100" r="70"></circle></svg>');
}

.dark_mode .login_block_content {
	background: rgb(96, 105, 255);
}

.login_block_title h2 {
	color: rgb(31, 42, 59);
	font-family: Nunito;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 17px;
}

.dark_mode .login_block_title h2 {
	color: rgb(255, 255, 255);
}

.login_input {
	position: relative;
}

.login_input_icon .login_input_svg {
	position: absolute;
	left: 18px;
	top: 50%;
	transform: translateY(calc(-50% - 4px));
	pointer-events: none;
	z-index: 1;
}

.login_input input {
	box-sizing: border-box;
	border: 2px solid rgb(239, 239, 246);
	border-radius: 12px;
	height: 50px;
	width: 100%;
	text-indent: 21px;
	color: #4C5B72;
	font-family: Nunito;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 10px;
}

.login_input_icon input {
	text-indent: 40px;
}

.dark_mode .login_input input {
	border: 2px solid rgb(124, 131, 250);
	background: transparent;
	color: #fff;
}

.dark_mode .login_input input:not(.modal .dark_mode .login_input input)::placeholder {
	color: #fff;
}

.login_socials {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	margin-top: 25px;
	border-top: 1px solid rgb(238, 238, 246);
}

.login_socials p {
	color: rgb(76, 91, 114);
	font-family: Nunito;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0%;
	text-align: left;
	margin: 0px;
}

.dark_mode .login_socials p:not(.modal .login_socials p) {
	color: #fff;
}

.login_socials_list {
	display: flex;
	align-items: center;
	gap: 5px;
}

.login_socials_list div {
	cursor: pointer;
	box-sizing: border-box;
	border: 1.68px solid rgb(239, 239, 246);
	border-radius: 10.09px;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
}

.login_socials_list div:hover {
	transition: all 0.2s ease;
	background: rgb(239, 239, 246);
}

.login_socials_list div svg {
	fill: rgb(95, 104, 255);
}

.dark_mode .login_socials_list div:hover svg {
	fill: rgb(95, 104, 255);
}

.dark_mode .login_socials_list div svg {
	fill: #fff;
}

.login_content_actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login_content_actions .category_btn {
	padding: 0px 34px;
	font-weight: 700;
	font-size: 16px;
	text-transform: capitalize;
}

.login_block .login_content_actions .category_btn {
	text-transform: none;
	align-self: start;
}

.login_block_content.login_form {
	transform: translateY(-5px);
}

.dark_mode .login_content_actions button:not(.modal .login_content_actions button) {
	background: rgb(255, 255, 255);
	color: rgb(96, 105, 255);
}

/* auth */

.auth_page_wrapper {
	display: flex;
	align-items: center;
	border-radius: 22px;
	width: 100%;
	/* padding: 18px 24px 24px; */
	width: 882px;
	background: rgb(255, 255, 255);
	justify-content: space-between;
	position: relative;
	z-index: 2;
}

.dark_mode .auth_page_wrapper {
	background: rgb(96, 105, 255);
}

.auth_form {
	width: 50%;
	border-right: 1px solid rgb(238, 238, 246);
	padding-right: 33px;
}

.dark_mode .auth_form {
	border-right: 1px solid rgb(124, 131, 250);
}

.auth_form .ask_from_send_btn .m_btn {
	padding-left: 39px;
	padding-right: 39px;
	height: 50px;
}

.dark_mode .auth_form .ask_from_send_btn .m_btn {
	background: rgb(255, 255, 255);
	color: rgb(96, 105, 255);
}

.auth_form .ask_from_send_btn p,
.auth_form .ask_from_send_btn p a {
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
}

.dark_mode .auth_form .ask_from_send_btn p,
.dark_mode .auth_form .ask_from_send_btn p a {
	color: rgb(204, 221, 248);
}

.select_gender {
	padding-top: 7px;
	margin: 0 0 17px;
	display: flex;
	align-items: center;
	gap: 13px;
}

.select_gender p {
	color: rgb(76, 91, 114);
	font-family: Nunito;
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0%;
	text-align: left;
	margin: 0px;
}

.dark_mode .select_gender p,
.dark_mode .select_gender_items div span {
	color: rgb(255, 255, 255);
}

.select_gender_items {
	display: flex;
	align-items: center;
	gap: 18px;
}

.select_gender_items div {
	display: flex;
	align-items: center;
	gap: 6px;
}

.select_gender_items label {
	display: flex;
	align-items: center;
	gap: 6px;
}

.select_gender_items div span {
	color: rgb(76, 91, 114);
	font-family: Nunito;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0%;
	text-align: left;
}

.select_gender_items input {
	width: 25px;
	height: 25px;
	min-width: 25px;
	border-radius: 50%;
	cursor: pointer;
	background: rgb(255, 255, 255);
	border: 2px solid rgb(239, 239, 246);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all 0.2s ease;
}

.dark_mode .select_gender_items input {
	background: transparent;
	border: 2px solid rgb(124, 131, 250);
}

.select_gender_items input:checked {
	background: rgb(98, 106, 255);
	border-color: rgb(98, 106, 255);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8' viewBox='0 0 11 8' fill='none'%3E%3Cpath d='M4.30645 7.83828C4.21446 7.94008 4.05537 7.94785 3.95292 7.85552L0.0798614 4.36484C-0.022594 4.27251 -0.0270486 4.11716 0.069853 4.0196L1.30383 2.77794C1.40079 2.68038 1.56393 2.67614 1.66639 2.76841L3.78208 4.67511C3.88454 4.76744 4.04363 4.75967 4.13561 4.65786L8.26894 0.0846266C8.36093 -0.0171783 8.52372 -0.0288021 8.63057 0.0588449L9.99113 1.17396C10.098 1.26155 10.1102 1.41658 10.0182 1.51838L4.30645 7.83828Z' fill='white'/%3E%3C/svg%3E");
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: center;
}

.dark_mode .select_gender_items input:checked {
	background: rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8' viewBox='0 0 11 8' fill='none'%3E%3Cpath d='M4.30645 7.83828C4.21446 7.94008 4.05537 7.94785 3.95292 7.85552L0.0798614 4.36484C-0.022594 4.27251 -0.0270486 4.11716 0.069853 4.0196L1.30383 2.77794C1.40079 2.68038 1.56393 2.67614 1.66639 2.76841L3.78208 4.67511C3.88454 4.76744 4.04363 4.75967 4.13561 4.65786L8.26894 0.0846266C8.36093 -0.0171783 8.52372 -0.0288021 8.63057 0.0588449L9.99113 1.17396C10.098 1.26155 10.1102 1.41658 10.0182 1.51838L4.30645 7.83828Z' fill='%236069FF'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
}

.auth_socials {
	width: 50%;
	flex-direction: column;
	gap: 20px;
	border: none;
}

.auth_socials p {
	text-align: center;
}

.dark_mode .auth_socials p {
	color: rgb(255, 255, 255);
}

.auth_page {
	position: relative;
}

.auth_page .login_block_title {
	padding-top: 18px;
	padding-left: 28px;
	margin: 0;
	position: relative;
	z-index: 2;
}

.auth_page .login_block_title h2 {
	margin: 0;
}

.auth_block_bg {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 5px;
	fill: #fff;
}

.dark_mode .auth_block_bg {
	fill: rgb(96, 105, 255);
}

.auth_block_rect {
	position: absolute;
	left: 190px;
	top: 20px;
	fill: rgb(96, 105, 255);
}

.dark_mode .auth_block_rect {
	fill: #fff;
}

.auth_socials .ask_from_send_btn {
	display: none;
	align-items: center;
}

.login_content_actions_bottom {
	font-size: 16px;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid rgb(238, 238, 246);
}

.dark_mode .login_content_actions_bottom:not(.modal .login_content_actions_bottom) {
	color: #fff;
	border-top: #fff 1px solid;
}

.login_content_actions_bottom a {
	text-decoration: underline;
}

.login_content_actions_bottom a:hover {
	text-decoration: none;
}

.dark_mode .modal .login_socials p {
	color: #fff
}

.dark_mode .modal .login_socials {
	border-color: #6069FF
}

.dark_mode .modal .login_content_actions_bottom {
	border-color: #6069FF
}

.dark_mode .modal .login_block_content:after {
	background-color: #322d71a3;
}

.modal .login_block_content {
	background: none;
	padding: 0px;
	margin: 0px;
}

.login-form__title {
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 16px;
	color: #1F2A3B;

}

label.checkbox {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 14px;
}

label.checkbox a {
	text-decoration: underline;
}

label.checkbox a:hover {
	text-decoration: none
}

.dark_mode label.checkbox {
	color: #CCDDF8;
}

.dark_mode .select_gender_items input {
	background-color: white;
}

.login_title_short {
	display: none;
}

.login_block_content {
	background: white;
	border-radius: 22px;
}

.select_gender_items input {
	border-radius: 6px;
	width: 18px;
	height: 18px;
	min-width: 18px;
	background-color: #EEEFF6;
}

.select_gender_items label {
	font-size: 12px;
}

label.checkbox {
	font-size: 12px;
	font-weight: 500;
	line-height: 14px; 
	color: #899AB5;
}

.auth_form .ask_from_send_btn .m_btn {
	max-width: 177px;
}

.dark_mode .select_gender_items input {
	background-color: #7E85F9;
}

.select_gender_items label:hover {
	cursor: pointer;
}

@media only screen and (max-width: 920px) {
	.login_container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.auth_page_wrapper,
	.auth_page {
		width: 100%;
	}

	.ask_from_send_btn {
		flex-direction: column;
	}

	.auth_form .ask_from_send_btn .m_btn {
		max-width: 100%;
	}

	.ask_from_send_btn {
		gap: 17px;
	}
}

@media only screen and (max-width: 700px) {

	.login_container {
		padding-top: 11px;
	}

	.auth_page_wrapper {
		flex-direction: column;
		gap: 16px;
	}

	.auth_form {
		width: 100%;
		border-right: none !important;
		border-bottom: 1px solid rgb(238, 238, 246);
		padding-right: 0;
		padding-bottom: 7px;
	}

	.auth_socials {
		width: 100%;
		padding-top: 0;
		margin-top: 0;
		gap: 18px;
	}

	.auth_socials p:first-child br {
		display: none;
	}

	.auth_form .ask_from_send_btn {
		display: none;
	}

	.auth_socials .ask_from_send_btn {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.ask_from_send_btn button {
		width: 100%;
	}

	.auth_socials p,
	.auth_socials p a {
		color: rgb(137, 154, 181);
		font-family: Nunito;
		font-size: 12px;
		font-weight: 500;
		line-height: 14px;
		letter-spacing: 0%;
		text-align: center;
	}

	.auth_socials p:nth-child(1) {
		font-size: 16px;
		color: #4C5B72;
		font-weight: 700;
	}

	.dark_mode .ask_from_send_btn button {
		background: rgb(255, 255, 255);
		color: rgb(96, 105, 255);
	}

	.login_container {
		padding-bottom: 0;
	}

	.ask_from_send_btn button {
		max-width: 100%;
	}

	.auth_socials {
		text-align: center;
	}

	.dark_mode .auth_socials p,
	.dark_mode .auth_socials p a {
		color: rgb(204, 221, 248);
	}

	.login_input:last-of-type input {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 500px) {
	.login_title_full {
		display: none;
	}

	.login_title_short {
		display: inline;
	}

	.auth_page {
		overflow: hidden;
	}

	.login_content_actions {
		display: flex;
		flex-direction: column-reverse;
		gap: 18px;
	}

	.login_content_actions .login_socials {
		display: flex;
		gap: 18px;
		flex-direction: column;
	}

	.login_socials p {
		text-align: center;
	}

	.login_socials p br {
		display: none;
	}
}

@media screen and (max-width: 500px) {

	.login_content_actions_bottom {
		text-align: center;
		order: -1;
	}

	.login_socials {
		margin-top: 0px !important;
	}

	.login_block .login_content_actions .category_btn {
		width: 100%;
	}

	.login_block_content {
		padding: 17px 20px 27px 20px;
	}
}

@media only screen and (max-width: 520px) {
	.login_block_bg,
	.auth_block_bg {
		width: 100% !important;
		height: auto !important;
	}

	.login_block {
		max-width: 100%;
	}

	.login_block_rect {
		left: 44.3%;
	}

	.auth_block_rect {
		left: 41%;
	}
}